# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Other
src/crypto_kem/xwing/test/test_xkem_functionality
.vscode
.idea
.direnv

# Test binaries and files
test_*_functionality
test_speed
results_*
.gdb_history
test_speed_results.json
test_xkem_functionality*.gcno
*.lcov
vgcore*
.cache/
compile_commands.json
